
<div class="jumbotron">
    <h1>Yamaha Maxim xj650 motorcycle parts and assembly</h1>
</div>

<div class="row">

    <div class="col-md-6">
        <h2>A comprehensive list of motorcy parts and details for maintenance</h2>
        <p>
            The goal is to add pricing and where to find parts online. Then store the urls and assembly instructions, and warnings. 
        </p>
    </div>

    <div class="col-md-6">
        <h2>Start with the parts</h2>
        <p>
            Here is a list of the parts and assemblies of the yamaha xj650:
        </p>
        <button type="button" onclick="location.href='@Url.Action("Index", "Brewery")'" class="btn">Brew Pub List</button>
    </div>

</div>